annotated-types==0.7.0
anyio==4.13.0
blinker==1.9.0
certifi==2026.4.22
cffi==2.0.0 ; platform_python_implementation == 'CPython' and sys_platform == 'win32'
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6 ; sys_platform == 'win32'
dify-plugin==0.5.1
dpkt==1.9.8
flask==3.0.3
gevent==25.5.1
greenlet==3.5.0 ; platform_python_implementation == 'CPython'
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.3
multidict==6.7.1
packaging==26.2
propcache==0.4.1
pycparser==3.0 ; implementation_name != 'PyPy' and platform_python_implementation == 'CPython' and sys_platform == 'win32'
pydantic==2.13.4
pydantic-core==2.46.4
pydantic-settings==2.14.0
python-dotenv==1.2.2
pyyaml==6.0.3
regex==2026.4.4
requests==2.32.5
socksio==1.0.0
tiktoken==0.8.0
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.7.0
werkzeug==3.0.6
yarl==1.23.0
zope-event==6.2
zope-interface==8.4
